body {
	padding-top: 20px;
	padding-bottom: 20px;
}

.header,
.marketing,
.footer {
	padding-right: 15px;
	padding-left: 15px;
}

.header {
	border-bottom: 1px solid #e5e5e5;
}

.header h3 {
	padding-bottom: 19px;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
}

.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
	text-align:center;
}

@media (min-width: 768px) {
	.container {
		max-width: 730px;
	}
}
.container-narrow > hr {
	margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	padding:25px;
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}
.jumbotron h1{
	font-size: 22px;
	font-weight: bold;
}
.jumbotron img {
	max-width: 300px;
	float: none;
}
.jumbotron p {
	font-size: 18px;
	clear: both;
}
.jumbotron .btn {
	padding: 14px 24px;
	font-size: 20px;
}
.marketing {
	margin: 40px 0;
}
.marketing img {
	float: none;
}
.marketing p + h4 {
	margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	/* Remove the padding we set earlier */
	.header,
	.marketing,
	.footer {
		padding-right: 0;
		padding-left: 0;
	}
	/* Space out the masthead */
	.header {
		margin-bottom: 30px;
	}
	/* Remove the bottom border on the jumbotron for visual effect */
	.jumbotron {
		border-bottom: 0;
	}
}